body {
  color: white;
  background-color: #121212;
}

h1 {
  font-size: 3rem;
  text-align: center;
  position: relative;
  margin-top: 4rem;
}

a {
  text-decoration: none;
}

/*Navigation bar*/
Nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

Nav li {
  float: left;
  fill: #333;
}

Nav li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
}

Nav li a:hover {
  background-color: rgb(55, 110, 230);
}

Nav li a:hover {
  background-color: rgb(55, 110, 230);
}

.Navbar__li__logo {
  color: red;
  display: inline-block;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
  font-weight: bold;
  border: none;
  fill: #333;
}

Nav select {
  display: inline-block;
  background-color: #333;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
  font-family: 'Ubuntu';
  color: white;
}


@media only screen and (max-width: 600px) {
  Nav {
    width: 100%;
    font-size: 3vw;
  }
  
}

/* Articles */
.Articles__h1 {
  font-size: 3rem;
  text-align: center;
  position: relative;
  margin-top: 4rem;
}

.Articles__grid {
  text-decoration: none;
}

.Articles__card {
  background-color: #333;
  color: white;
  margin: auto;
  margin-bottom: 1rem;
  padding: 1rem;
  display: flex;
  width: 80%;
}

.Articles__card:hover {
  border-style: solid;
  border-color: rgb(55, 110, 230);
  border-width: large;
}

/* TOPICS CARDS -  update when needed*/
.Articles_card__box__topic1 {
  background-color: red;
  word-wrap: break-word;
  width: 10%;
  text-align: center;
  margin: 0.2rem;
  padding: 0.2rem;

}

.Articles_card__box__topic2 {
  word-wrap: break-word;
  background-color: orange;
  text-align: center;
  width: 10%;
  margin: 0.2rem;
  padding: 0.2rem;
}

.Articles_card__box__topic3 {
  word-wrap: break-word;
  background-color: rgb(55, 110, 230);
  text-align: center;
  width: 10%;
  margin: 0.2rem;
  padding: 0.2rem;
}

.Articles_card__title {
  margin-right: auto;
  font-weight: bold;
  margin-top: auto;
  margin-bottom: auto;

}

.Articles_card__author {
  display: flex;
  justify-content: right;
  margin-top: auto;
  margin-bottom: auto;

}

@media only screen and (max-width: 600px) {

  .Articles__grid h1 {
    font-size: 5vw;
  }

  .Articles_card__box__topic1 {
    font-size: 1vw;
    width: 10%;
  }

  .Articles_card__box__topic2 {
    font-size: 1vw;
    width: 10%;
  }

  .Articles_card__box__topic3 {
    font-size: 1vw;
  }

  .Articles_card__title {
    margin-right: auto;
    font-weight: bold;
    font-size: 1vw;

  }

  .Articles_card__author {
    display: flex;
    justify-content: right;
    font-size: 1vw;

  }

  Nav li a {
    padding: 1vw;
  }

  .Navbar__li__logo {
    padding: 1vw;
  }

  .Articles__card {
    background-color: #333;
    color: white;
    margin: auto;
    margin-bottom: 1vw;
    padding: 1vw;
    display: flex;
    width: 80%;
  }

  .Articles__h1 {
    margin-top: 10vh;
  }
}

/* Topics */
.Topics__card h2 {
  font-size: 3rem;
  text-align: center;
  position: relative;
margin: auto;
}

.Topics_card_container a {
  text-decoration: none;
}

.Topics__card {

  background-color: #333;
  color: white;
  margin: auto;
  margin-bottom: 1vw;
  padding: 1vw;
  display: flex;
  width: 80%;
}


.Topics__card:hover {
  border-style: solid;
  border-color: rgb(55, 110, 230);
  border-width: large;
}


.Topics__card__span__1 {
  height: 4rem;
  width: 4rem;
  background-color: red;
  border-radius: 50%;
}

.Topics__card__span__2 {
  height: 4rem;
  width: 4rem;
  background-color: orange;
  border-radius: 50%;
}

.Topics__card__span__3 {
  height: 4rem;
  width: 4rem;
  background-color: rgb(55, 110, 230);
  border-radius: 50%;
}

@media only screen and (max-width: 600px) {
  .Topics__card h2 {
    font-size: 5vw;
  }
}

/* Single article */

.Single__article__header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Single__article__header p {
  margin-right: 2rem;
}

.Single__Article__Stats {
  display: flex;
  


}

.Single__topic {
  width: 15%;
  text-align: center;
  margin: 0.2rem;
  padding: 0.2rem;
}

.coding {
background-color: red;
}

.cooking {
  background-color: orange;
}

.football {
  background-color: rgb(55, 110, 230);
}

.Single__article__body {
  width: 75%;
  margin: auto;
}

@media only screen and (max-width: 600px) {
.Single__article__header {
  max-width: 600px;

  font-size: 1vw;
}

.Single__topic {
  font-size: 1vw;
  width: 10%;
}

.Single__article__body {
  width: 75%;
  margin: auto;
  font-size: 2vw;
}

h1 {
  font-size: 5vw;
}
}

/* like button */
.like__button {
  color: white;
  margin-right: 2rem;
  border-radius: 25%;
  border: none;
}

.like__button:hover {
  scale: 1.2;
}

.clicked {
  background-color: rgb(55, 110, 230);
  scale: 1.2;
  
}

.not__clicked {
  background-color: #333;
}


/* Error handling */
.Single__article__no_error {
  display: none;
}

.like__button__error {
  background-color: red;
  
}


